
        body {
            height: 100%;
            margin: 0;
        }

        body {
            background-image: url(bg1.jpg);
            background-position: center;
            background-size: cover;
        }

       p {
           color: white;
           font-family: cursive;
           font-size: 28px;;
       }

       .start_box {
           background-color: red;
           width: 850px;
           border-radius: 30px;
           border-width: 5px;
           border-color: rgb(4, 105, 13);
           border-style: solid;
       }
       button, input {
           background-color: black;
           color: white;
           font-family: cursive;
           font-size: 30px;
       }

       