body {
    background-image: url(bg3.jpg);
    background-position: center;
    background-size: cover;
}

button,
input {
    background-color: black;
    color: white;
    font-family: cursive;
    font-size: 30px;

}

.header  {
    color: blue;
    font-family: cursive;
    font-size: 50px;

}
h3, label {
    color: blue;
    font-family: cursive;
    font-size: 28px;
    background-color: black;
    width: 275px;
    height: 47px;
}
div{
    background-color: white;
    opacity: 75%;
    border-radius: 35px;
    width: 500px;
}